<h1>{{ title}}</h1>

<input type="text" #newTodo>
<button (click)="addTodo(newTodo.value); newTodo.value=''">Add </button>

<div>
 <table>
   <tr>
     <th>Label</th>
     <th>Priority</th>
     <th>Done</th>
     <th>Action</th>
   </tr>
   <tr *ngFor="let todo of todos">
      <td>{{ todo.label }}</td>
      <td>{{ todo.priority }}</td>
      <td class="group-focus:text-yellow-300"> {{todo.done}}</td>
     
      <td>
        <button (click)="deletingTodo(todo)">Delete</button>
      </td>
   </tr>
 </table>
</div>